
body{
    /* text-align: center; */
    color: #ffff;
    /* background: #000; */
    background-image: url(Assets/bg.gif);
    background-repeat: none;
    background-size: cover;
    width:100vh;
    height: 100%;
    background-attachment: fixed;
       
}
.class{
    position: relative;
    left:500px;
    width: 300px;
}
h1{
    position: relative;
    left:80%;
}

#mycanvas{
    background-attachment: fixed;
    /* width: 100%;
    height: 100vh; */
}
/* .score{
    position: relative;
    top: 20px;
    left:20px;
    font-size: 20px;
} */
@media all and (max-width:550px){

}
